<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="./images/potteryLogo.ico">
    <link rel="stylesheet" href="app/scss/style.css">
    
    <!---Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
    <title>YJ's Pottery</title>
</head>
<body>
    <nav class="playfair-display" id="navBar">
        <div class="navbar-left">
            <a class="userEle" href="/view/index.html">HomePage</a>
        </div>
        <div class="navbar-right" id="btn-container">
            <p id="greeting">Welcome</p>
            <a class="userEle" id="login-btn" href="./login.html">Login</a>
            <a class="userEle" id="signup-btn"  href="./signup.html">Register</a>
            <a class="userEle" id="logout-btn"  href="/login">Logout</a>
        </div>
    </nav>

    <div class="hero">
        <div class="filter">
            <!-- Search Bar and filters -->
        </div>

        <article class="playfair-display">
            <h1> Welcome to YJ's Pottery!</h1>
            <h2>The Finest ceramics and porcelain Selections for your everyday needs</h2>

            <div id="product-display">
                <p>loading products...</p>

            </div>

        </article>

        <div class="fav">
            <!-- users can only favorite items after log in -->
        </div>

    </div>

    <script src="./app/js/script.js"></script>
</body>
</html>