<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="./images/potteryLogo.ico">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h2>Login to YJ's Pottery</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="credential">User Credential:</label>
                <input type="text" name="credential" id="credential" placeholder="Enter username or email" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter a password" required>
            </div>
            <div class="btn-bin">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="./signup.html">Register</a></p>
    </div>
    
    <script src="./app/js/login.js" defer></script>
</body>
</html>
